resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 2Gi

persistence:
  size: 10Gi

workspace:
  git:
    enabled: true
    repository: git@ssh.gitlab.helmcode.com:helmcode/bender-workspace.git
    branch: main
